{% load static %}
<!doctype html>
<html lang='fr'>
  <head>
    <title>WishGift</title>
    <meta charset="utf-8">
    <link href="{% static 'base/styles.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
        <nav class="navbar navbar-expand-lg " style="background-color:#2d2844;">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="{% url 'home' %}">WishGift</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              {% if user.is_authenticated  %}
              <div class="d-flex flex-row-reverse collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <!-- <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="">Flux</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="">Posts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="">Abonnement</a>
                  </li>
                  {% comment %} <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li> {% endcomment %} -->
                  <li class="nav-item">
                    <a class="nav-link active text-white  " href="{% url 'logout' %}">Se déconnecter</a>
                  </li>
                </ul>
              </div>
              {% endif %}
            </div>
          </nav>
      </nav>
    </header>
<main>
  {% block content %}{% endblock content %}
</main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>