{% extends 'base.html' %}
{% block content %}
<div class="card" style="margin: 5% 10%">
    <div class="card-header">
        Inscription
    </div>
    <div class="card-body ">
        {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <a href="{% url 'login' %}" class="btn btn-primary">retourner</a>
        <button  class="btn btn-primary text-center" type="submit" >S’inscrire</button>
    </form>
    </div>
  </div>
    
{% endblock content %}