{% extends 'base.html' %} {% block content %}
<h1>Ma list</h1>
<ul class="wishlist list-group list-group-item-action active">

  {% for item in items %}
  <li class="list-group-item list-group-item-action wishlist-item">
      <h3>{{ item.name }}</h3>
      <aside class="item-details">
<p>Description: {{ item.description }}</p>
      <p>Prix: {{ item.price }}</p>
      <p><a href="{{ item.link }}" target="_blank">Lien</a></p>
      <a class="btn btn-outline-primary">Modifier</a>
      <form method="post" action="{% url 'delete' item.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
      
  </li>
{% endfor %}

<a href="#" id="add-item-btn" class="btn btn-primary">
  <h3>Ajouter</h3>
</a>

<div id="add-item-form" style="display: none; padding: 20px; background: #f7f7f7; margin-top: 20px;">
  <form method="post" action="{% url 'add_item' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Nom de l'élément</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="price">Prix</label>
      <input type="number" class="form-control" id="price" name="price" required>
    </div>
    <div class="form-group">
      <label for="link">Lien</label>
      <input type="url" class="form-control" id="link" name="link" placeholder="https://example.com" required>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter à la wishlist</button>
    <button type="button" class="btn btn-secondary" id="cancel-btn">Annuler</button>
  </form>
  <!-- <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li> -->
</ul>

<style>
  .wishlist {
    margin: auto;
    width: 40%;
  }

  .item-details {
    display: none;
  }
</style>

<script>
  const wishlistItems = document.querySelectorAll('.wishlist-item');
  wishlistItems.forEach(item => {
      item.addEventListener('click', () => {
          item.querySelector('.item-details').style.display = 'block';
      });
      item.addEventListener('mouseleave', () => {
          item.querySelector('.item-details').style.display = 'none';
      });
  });

  document.getElementById('add-item-btn').addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('add-item-form').style.display = 'block';
});

document.getElementById('cancel-btn').addEventListener('click', function() {
    document.getElementById('add-item-form').style.display = 'none';
});

</script>
  {% endblock content %}
